<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Grendezvous.Properties.Settings.g_rendezvousConnectionString"
            connectionString="Data Source=DESKTOP-8242N8E;Initial Catalog=g_rendezvous;Persist Security Info=True;User ID=sa;Password=goforitjustdoit"
            providerName="System.Data.SqlClient" />
        <add name="Grendezvous.Properties.Settings.g_presenceConnectionString"
            connectionString="Data Source=DESKTOP-M6JAMV0;Initial Catalog=g_presence;User ID=sa;Password=&quot;go for it just do it&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
